*{
    margin:0;
    padding: 0;
    border:none;
    background-color: whitesmoke;
    color: black
    
}

/*nav-bar and main image*/

#list{
    font-size: 110%;
    letter-spacing: 6px;
    
}

#list li {
    float: right;
    margin-right: 30px;
    list-style-type: none;

}
 
#list a {
    text-decoration: none;
    color:inherit;
}

.page-header {
    max-width: 960px;
    margin: 0 auto;
}

.logo {
  width:100%;  
  border: 50px;
}

.yarn-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/*text-paragraph on author of page*/

.about {
    color:black;
    
}

h2 {
  text-align: center;
  margin-top: 20px;
  
}



