*{
    margin:0;
    padding: 0;
    border:none;   
}

body{
    background-color: whitesmoke;
    color: black
}

/*nav-bar and logo*/

#list{
    font-size: 110%;
    letter-spacing: 6px; 
    max-width:100%;
    max-height: 100%;
    position:absolute;
    top:6px; 
    right:50px;
     
}

#list li {
    float:right;
    list-style-type: none;
    width:200px;
    height: 50px;
    

}
 
#list a {
    text-decoration: none;
    color:inherit;
    float: right;
}


img {
    max-width:100%;
    max-height: 100%%; 
    
}

.logo {
    height: 175px;
    width: 300px;
    
}


/*main image*/

#yarn-image {
    height: 300px;
    width: 100%;
    background:url('../images/learn-to-crochet-1.jpg') no-repeat center center;
}


/*text-paragraph on author of page*/

.about {
    color:black;
    
}

h2 {
  text-align: center;
  margin-top: 20px;
  
}



